h1 {
	color: black;
	text-align: left;
	font-family: 'Palatino Linotype', serif;
}
.left {
	text-align: left;
}
p {
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
}
h2 {
	color: #a6d9f0;
	font-family: 'Palatino Linotype', serif;
}

h3 {
	color: #a6d9f0;
	font-family: 'Palatino Linotype', serif;
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fdfff5;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
	
body {
	background-color: #fcfcf4;
}
