<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
h1 {
	color: black;
	text-align: left;
	font-family: 'Palatino Linotype', serif;
}
.left {
	text-align: left;
}
p {
	color: black;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
}
h2 {
	color: #196e94;
	font-family: 'Palatino Linotype', serif;
}

h3 {
	color: #196e94;
	font-family: 'Palatino Linotype', serif;
}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8f3e9;
}

li {
  float: left;
}

li a {
  display: block;
  color: #196e94;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
ul.b {
  list-style-type: circle;
}
	
body {
	background-color: #fcfcf4;
}
